aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
discord.py==1.6.0
idna==2.10
multidict==5.1.0
pyaes==1.6.1
pyasn1==0.4.8
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
rsa==4.7.2
Telethon==1.20
typing-extensions==3.7.4.3
urllib3==1.26.3
yarl==1.6.3
